<div class="container-fluid h-100">
    <div class="container-fluid h-100">
        <script type="text/javascript" src="https://jstest.authorize.net/v3/AcceptUI.js" charset="utf-8"></script>

        <h4>Payment Form - Pop Up Option</h4>
        <hr>

        <button type="button" class="AcceptUI btn btn-success"
            data-billingAddressOptions='{"show":true, "required":true}' data-apiLoginID="{{ client['login'] }}"
            data-clientKey="{{ client['key'] }}" data-acceptUIFormBtnTxt="Add Payment Method"
            data-acceptUIFormHeaderTxt="Card Information" data-responseHandler="responseHandler">
            Retrieve Payment Data
        </button>

        <input name="opaque_data" type="hidden" id="opaque_data" value="" />
        <button class="btn btn-danger" id="payment" disabled
            hx-post="/create_transaction" hx-include="#opaque_data" hx-target="#response_message">
            Test Payment Transaction
        </button>

        {% if profile == "" %}
            <span class="d-inline-block" id="disabled_tooltip" tabindex="0" data-bs-toggle="tooltip" data-bs-title="No Profile Present!">
                <button class="btn btn-warning" disabled
                    data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tooltip on top">
                    Add Payment Profile
                </button>
            </span>
        {% else %}
            <button class="btn btn-warning" id="profile_button" disabled
                hx-put="/save_payment" hx-include="#opaque_data" hx-target="#response_message">
                Add Payment Profile
            </button>
        {% endif %}

        <textarea id="payment_response" class="form-control h-100 mt-2" placeholder="Leave a comment here"
            readonly>{{ client["text"] }}</textarea>

        <script>
            if (document.getElementById("disabled_tooltip")) {
                var button = document.getElementById("disabled_tooltip")
                var tooltip = new bootstrap.Tooltip(button)
            }

            function responseHandler(response) {
                if (response.messages.resultCode === "Error") {
                    var i = 0;
                    while (i < response.messages.message.length) {
                        console.log(
                            response.messages.message[i].code + ": " +
                            response.messages.message[i].text
                        );
                        i = i + 1;
                    }
                }
                
                let profile = "{{ profile }}"
                let formatted = JSON.stringify(response, null, 2)

                text_area = document.getElementById("payment_response")
                text_area.removeAttribute("readonly")
                text_area.value = formatted
                text_area.setAttribute("readonly", "")

                document.getElementById("opaque_data").value = formatted
                document.getElementById("payment").removeAttribute("disabled")
                
                if (document.getElementById("profile_button")) {
                    document.getElementById("profile_button").removeAttribute("disabled")
                }
            }
        </script>
    </div>
</div>