<h4>Profile</h4>
<hr>
<div class='d-grid gap-2 mb-3'>
    <button class="btn btn-primary" hx-get="/find" hx-target="#response_message" hx-swap="outerHTML">Get Profile</button>
    <button class="btn btn-primary">Reset Profile</button>
    <button class="btn btn-primary">Set Payment Profile</button>
    <button class="btn btn-primary">Remove Payment Profile</button>
    <button class="btn btn-primary">Set Subscription</button>
</div>
<h4>Accept Hosted</h4>
<hr>
<div class='d-grid gap-2'>
    <button class="btn btn-success">Get Payment Token</button>
    <button class="btn btn-success">Get Embedded Payment Form</button>
</div>
