<h4>Profile</h4>
<hr>
<div class='d-grid gap-2 mb-3'>
    <button class="btn btn-primary" hx-get="/find" hx-target="#response_message">Get Customer Profile</button>
    <button class="btn btn-primary" hx-put="/reset" hx-target="#response_message">Reset Customer Profile</button>
    <button class="btn btn-primary" hx-get="/get_unsettled_transactions" hx-target="#response_message">Get Unsettled Transactions</button>
    <button class="btn btn-primary" hx-get="/get_transactions" hx-target="#response_message">Get Transactions</button>
    <button class="btn btn-primary" hx-delete="/delete" hx-target="#response_message">Delete Customer Profile</button>
</div>
<h4>Accept JS w/ Actions</h4>
<hr>
<div class='d-grid gap-2 mb-3'>
    <button class="btn btn-success" hx-get="/get_hosted_form" hx-target="#response_message">Get Payment Form</button>
    <button class="btn btn-success" hx-get="/custom_form" hx-target="#response_message">Get Custom Payment Form</button>
</div>
<h4>Accept JS - UI Only</h4>
<hr>
<div class='d-grid gap-2'>
    <button class="btn btn-danger" hx-get="/ui_form" hx-vals='{"form": "ui"}' hx-target="#response_message">Get Payment Form</button>
    <button class="btn btn-danger" hx-get="/ui_form" hx-vals= '{"form": "custom"}' hx-target="#response_message">Get Custom Payment Form</button>
</div>