<div class="container-fluid h-100">
    <script type="text/javascript" src="https://jstest.authorize.net/v1/Accept.js" charset="utf-8">
    </script>

    <h4>Payment Form - Custom Form</h4>
    <hr>
    <form class="row g-4 my-4">
        <div class="row">
            <div class="col-md-3">
                <label for="inputEmail4" class="form-label">First Name</label>
                <input type="email" class="form-control" id="first_name">
            </div>
            <div class="col-md-3">
                <label for="inputPassword4" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name">
            </div>
            <div class="col-md-3">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip">
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputAddress2" class="form-label">Card Number</label>
            <input type="text" class="form-control" id="card_number" placeholder="Enter Card Number">
        </div>
        <div class="col-md-2">
            <label for="inputAddress2" class="form-label">Card Code</label>
            <input type="text" class="form-control" id="card_code" placeholder="Enter Card Code">
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Exp. Month</label>
            <input type="text" class="form-control" id="exp_month" placeholder="MM">
        </div>
        <div class="col-md-2">
            <label for="inputZip" class="form-label">Exp. Year</label>
            <input type="text" class="form-control" id="exp_year" placeholder="YY">
        </div>

        <div class="col-12">
            <button type="button" class="btn btn-success" onclick="send_payment_data()">
            Add Payment Method
        </button>

            <input name="opaque_data" type="hidden" id="opaque_data" value="" />
            <button class="btn btn-danger" id="payment" hx-post="/create_transaction" hx-include="#opaque_data"
                hx-target="#response_message" hx-swap="outerHTML" disabled>Test Payment Transaction</button>
        </div>
    </form>

    <textarea id="payment_response" class="form-control h-75 mt-2" placeholder="Leave a comment here"
        readonly>{{ client["text"] }}</textarea>

    <script>
        function responseHandler(response) {
            if (response.messages.resultCode === "Error") {
                var i = 0;
                while (i < response.messages.message.length) {
                    console.log(
                        response.messages.message[i].code + ": " +
                        response.messages.message[i].text
                    );
                    i = i + 1;
                }
            } else {
                let formatted = JSON.stringify(response, null, 2)

                text_area = document.getElementById("payment_response")
                text_area.removeAttribute("readonly")
                text_area.value = formatted
                text_area.setAttribute("readonly", "")

                document.getElementById("opaque_data").value = formatted
                document.getElementById("payment").removeAttribute("disabled")

                document.getElementById("first_name").value = ""
                document.getElementById("last_name").value = ""
                document.getElementById("zip").value = ""
                document.getElementById("card_number").value = ""
                document.getElementById("card_code").value = ""
                document.getElementById("exp_month").value = ""
                document.getElementById("exp_year").value = ""
            }
        }

        function send_payment_data() {
            let auth_data = {
                apiLoginID: "{{ client['login'] }}",
                clientKey: "{{ client['key'] }}"
            }

            let card_data = {}
            card_data.fullName = document.getElementById("first_name").value + " " + document.getElementById("last_name").value
            card_data.cardNumber = document.getElementById("card_number").value
            card_data.cardCode = document.getElementById("card_code").value
            card_data.month = document.getElementById("exp_month").value
            card_data.year = document.getElementById("exp_year").value

            let secure_data = {
                authData: auth_data,
                cardData: card_data
            }

            Accept.dispatchData(secure_data, responseHandler)
        }
    </script>
</div>