{% extends 'base.html' %}
{% block content %}
	<input type="text" id="inputtoken" value={{token}} />
	<br />
	<form method="post" action="https://test.authorize.net/payment/payment" id="formAuthorizeNetTestPage" name="formAuthorizeNetTestPage">
		<input type="hidden" id="redirectToken" name="token" value="" />
		Redirect-Continue to Authorize.net to Payment Page
		<button id="btnContinue" onclick="">Continue to next page</button>
	</form>
	<script type="text/javascript">
		$(function () {
			$("#btnContinue").click(function () {
				$("#redirectToken").val($("#inputtoken").val()); 
			});
		});
	</script>
{% endblock %}